Source: espresso
Section: admin
Priority: optional
Maintainer: Colin Watson <cjwatson@ubuntu.com>
Build-Depends: debhelper (>= 4.0.0), libglib2.0-dev, libgtk2.0-dev, libart-2.0-dev
Standards-Version: 3.6.2.1

Package: espresso
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, espresso-frontend, system-tools-backends, espresso-doc, lsb-release, espresso-utils (>= 1.22ubuntu4), espresso-locale, user-setup (>= 0.05ubuntu2), partman (>= 78ubuntu1+4), ${bootloader}, espresso-casper
Recommends: gparted
Conflicts: ubuntu-express
Replaces: ubuntu-express
Description: Ubuntu live CD installer
 This is a simple live CD installer designed to integrate well with Debian-
 and Ubuntu-based systems, and to reuse code from d-i for ease of
 maintenance.
 .
 Installing this package on a normal system is unlikely to be useful.

Package: espresso-ubuntu-artwork
Architecture: all
Conflicts: ubuntu-express-ubuntu-artwork
Replaces: ubuntu-express-ubuntu-artwork
Provides: espresso-artwork
Description: Ubuntu artwork for Espresso live installer
 This package provides Ubuntu-themed user interface artwork for the Espresso
 live CD installer.

#Package: espresso-guadalinex-artwork
#Architecture: all
#Conflicts: ubuntu-express-guadalinex-artwork
#Replaces: ubuntu-express-guadalinex-artwork
#Provides: espresso-artwork
#Description: Guadalinex artwork for Espresso live installer
# This package provides Guadalinex-themed user interface artwork for the
# Espresso live CD installer.

Package: espresso-ubuntu-doc
Architecture: all
Conflicts: ubuntu-express-ubuntu-doc
Replaces: ubuntu-express-ubuntu-doc
Provides: espresso-doc
Description: Ubuntu documentation and help files for Espresso live installer
 This package provides Ubuntu-themed help files and user interface text for
 the Espresso live CD installer.

#Package: espresso-guadalinex-doc
#Architecture: all
#Conflicts: ubuntu-express-guadalinex-doc
#Replaces: ubuntu-express-guadalinex-doc
#Provides: espresso-doc
#Description: Guadalinex documentation and help files for Espresso live installer
# This package provides Guadalinex-themed help files and user interface text
# for the Espresso live CD installer.

Package: espresso-frontend-gtk
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gnome2-extras, python-glade2, gparted (>= 0.1-0ubuntu2), espresso-artwork, espresso-doc, python-gtk2, firefox
Conflicts: ubuntu-express-frontend-gtk
Replaces: ubuntu-express-frontend-gtk
Provides: espresso-frontend
Description: GTK+ frontend for Espresso live installer
 This package provides a GTK+-based user interface frontend for the Espresso
 live CD installer.

#Package: espresso-frontend-cloner
#Architecture: all
#Depends: ${misc:Depends}, ${python:Depends}, espresso-artwork, espresso-doc
#Conflicts: ubuntu-express-frontend-cloner
#Replaces: ubuntu-express-frontend-cloner
#Provides: espresso-frontend
#Description: Network Cloner frontend for Espresso live installer
# This package provides a non-interactive frontend for the Espresso live CD
# installer which will install the system from a server.
