Source: ubiquity
Section: admin
Priority: optional
Maintainer: Colin Watson <cjwatson@ubuntu.com>
Build-Depends: apt, dash, debconf (>= 0.5.0), debhelper (>= 5.0.37.3ubuntu2), dpkg-dev (>= 1.9.0), grep-dctrl, intltool-debian (>= 0.30+20040212), iso-codes (>= 0.35-1), libart-2.0-dev, libdebconfclient0-dev (>= 0.68), libdebian-installer4-dev (>= 0.41), libglib2.0-dev, libgtk2.0-dev, libparted1.7-dev (>= 1.7.1-1), libxml-parser-perl, libxml2-dev (>= 2.6.24), locales, po-debconf (>= 1.0), python, python-all-dev (>= 2.3.5-11), python-central (>= 0.5), python-gtk2-dev, python-xml, wget, xkb-data (>= 0.9)
Standards-Version: 3.6.2.1
XS-Python-Version: current, >= 2.4
XS-Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-core-dev/ubiquity/trunk

Package: ubiquity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, debconf (>= 1.4.72ubuntu5), ubiquity-frontend-${source:Version}, ubiquity-artwork-${source:Version}, laptop-detect, lsb-release, ubiquity-casper, python-apt (>= 0.6.16.2ubuntu4), ${console-setup-depends}, iso-codes, passwd, adduser, os-prober, ${bootloader-depends}
Conflicts: ubuntu-express, espresso, espresso-utils, espresso-locale, espresso-keyboard-setup, espresso-kbd-chooser, espresso-timezone, user-setup (<< 0.05ubuntu6), partman, espresso-grub, espresso-yaboot
Replaces: ubuntu-express, espresso, espresso-utils, espresso-locale, espresso-keyboard-setup, espresso-kbd-chooser, espresso-timezone, user-setup (<< 0.05ubuntu6), partman, espresso-grub, espresso-yaboot, ubiquity-frontend-gtk (<< 0.99.82)
XB-Python-Version: ${python:Versions}
Description: Ubuntu live CD installer
 This is a simple live CD installer designed to integrate well with Debian-
 and Ubuntu-based systems, and to reuse code from d-i for ease of
 maintenance.
 .
 Installing this package on a normal system is unlikely to be useful.

Package: ubiquity-ubuntu-artwork
Architecture: all
Conflicts: ubuntu-express-ubuntu-artwork, ubuntu-express-ubuntu-doc, espresso-ubuntu-artwork, espresso-ubuntu-doc, ubiquity-ubuntu-doc
Replaces: ubuntu-express-ubuntu-artwork, ubuntu-express-ubuntu-doc, espresso-ubuntu-artwork, espresso-ubuntu-doc, ubiquity-ubuntu-doc
Provides: ubiquity-artwork-${source:Version}
Description: Ubuntu artwork for Ubiquity live installer
 This package provides Ubuntu-themed user interface artwork, help files, and
 user interface text for the Ubiquity live CD installer.

#Package: ubiquity-guadalinex-artwork
#Architecture: all
#Conflicts: ubuntu-express-guadalinex-artwork, ubuntu-express-guadalinex-doc, espresso-guadalinex-artwork, espresso-guadalinex-doc, ubiquity-guadalinex-doc
#Replaces: ubuntu-express-guadalinex-artwork, ubuntu-express-guadalinex-doc, espresso-guadalinex-artwork, espresso-guadalinex-doc, ubiquity-guadalinex-doc
#Provides: ubiquity-artwork-${source:Version}
#Description: Guadalinex artwork for Ubiquity live installer
# This package provides Guadalinex-themed user interface artwork, help
# files, and user interface text for the Ubiquity live CD installer.

Package: ubiquity-frontend-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, ubiquity, python-glade2, python-gtk2 (>= 2.10), iso-codes
Recommends: gnome-system-tools
Conflicts: ubuntu-express-frontend-gtk, espresso-frontend-gtk
Replaces: ubuntu-express-frontend-gtk, espresso-frontend-gtk
Provides: ubiquity-frontend-${source:Version}
XB-Python-Version: ${python:Versions}
Description: GTK+ frontend for Ubiquity live installer
 This package provides a GTK+-based user interface frontend for the Ubiquity
 live CD installer.

Package: ubiquity-frontend-kde
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ubiquity, python-qt4
Provides: ubiquity-frontend-${source:Version}
XB-Python-Version: ${python:Versions}
Description: KDE frontend for Ubiquity live installer
 This package provides a KDE-based user interface frontend for the Ubiquity
 live CD installer.

#Package: ubiquity-frontend-cloner
#Architecture: all
#Depends: ${misc:Depends}, ${python:Depends}, ubiquity
#Conflicts: ubuntu-express-frontend-cloner, espresso-frontend-cloner
#Replaces: ubuntu-express-frontend-cloner, espresso-frontend-cloner
#Provides: ubiquity-frontend-${source:Version}
#XB-Python-Version: ${python:Versions}
#Description: Network Cloner frontend for Ubiquity live installer
# This package provides a non-interactive frontend for the Ubiquity live CD
# installer which will install the system from a server.
