[Unit]
Description=Ubuntu live CD installer
Before=display-manager.service

[Service]
ExecStartPre=/bin/systemctl stop --no-block display-manager.service
ExecStart=/usr/share/ubiquity/start-ubiquity-dm

[Install]
WantedBy=graphical.target
