[Desktop Entry]
Encoding=UTF-8
Name=Ubuntu-express
Name[es]=Guadalinex-express (Instalador de Guadalinex)
GenericName=Ubuntu-express Live installer
GenericName[es]=Instalador de Guadalinex 2005
Comment=Install Ubuntu into your hard disk
Comment[es]=Instalación de Guadalinex 2005 en disco
Exec=/usr/bin/ubuntu-express
Icon=gnome-settings-default-applications
Terminal=false
Type=Application
Categories=GTK;System
StartupNotify=true
