[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Install System Permanently
Comment=Install this system permanently to your hard disk
NoDisplay=true
Exec=gksudo --desktop %k espresso gtkui
Terminal=false
Categories=GTK;System;
OnlyShowIn=GNOME;XFCE;
X-Ubuntu-Gettext-Domain=espresso
