[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Install
Comment=Install this system permanently to your hard disk
Exec=kdesu espresso kde-ui
Icon=espresso.png
Terminal=false
Categories=KDE;Qt;System;
OnlyShowIn=KDE;
X-Ubuntu-Gettext-Domain=espresso
